* {
    margin: 0;
    padding: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

div.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
/* ----------------------- Side Bar Section ----------------------  */
div.sidebar {
    display: grid;
    grid-template-rows: repeat(13, 50px);
    grid-template-columns: 1fr;
    background-color: #065f46;
    color: #ecfdf5;
}

.icon-pair {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.dash-pair {
    grid-row-start: 1;
    grid-row-end: 3;
}

.settings-pair {
    grid-row-start: 9;
    grid-row-end: 11;
    align-self: end;
    padding-bottom: 12.5px;
}

.icon {
    padding-left: 40px;
    padding-right: 40px;
    width: 20px;
    order: -1;
    fill: #fcfcf4;
}

div > .dash {
    padding-right: 50px;
    font-size: 35px;
}

div > .element {
    font-size: 20px;
}

.dash-icon {
    padding-left: 25px;
    padding-right: 22px;
    width: 50px;
}
/* -------------------------------- Main Window Section --------------------- */

.web-window {
    /* border: 2px solid red; */
    display: grid;
    grid-template-rows: 1fr 4.6fr;
}
/* ------------------------  User section ------------------------ */

.usersection {
    /* border: 2px solid red; */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    box-shadow: 0px 1px 10px #052e16;
    z-index: 1;
}

.search-login {
    display: flex;
    justify-content: space-between;
}

.avatar-icon {
    width: 50px;
}

.search-area {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.window-icon {
    width: 40px;
    fill: #022c22;
    padding-left: 30px;
    padding-right: 20px;;
}

input {
    height: 30px;
    border-radius: 30px;
    border-style: none;
    background-color: #e2f8ea;
    width: 100%;
}

.login {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    padding-right: 30px;
    gap: 30px;
}

.welcome-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
}

.login-h2 {
    display: grid;
    align-content: center;
}

.login-area {
    padding-left: 25px;
    display: grid;
    /* border: 2px solid red; */
    grid-template-columns: auto 1fr;
}

.login-icon {
    width: 80px;
}

.buttons-area {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: end;
    gap: 30px;
    padding-right: 30px;
}

.button-login {
    border-style: none;
    font-size: 15px;
    font-weight: 700;
    width: 100px;
    border-radius: 30px;
    background-color: #022c22;
    color: #e2f8ea;
    height: 40px;
}

/* -------------------- Content Section -----------------  */

.content-window {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #f0f5f2;
}

.projects {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.all-cards {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    display: grid;
    grid-template-columns: 4fr 98fr;
    background-color: #ffffffe9;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0px 3px 3px #01481f65;
}

.accent {
    border-radius: 10px 0 0 10px;
    width: 100%;
    background-color: #0bc08c;
}

.text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    padding-left: 20px;
    /* padding-top: 20px; */
}

.title {
    padding-top: 20px;
}

.card-icons {
    justify-self: end;
    padding-right: 30px;
}

.card-single-icon {
    padding-left: 10px;
    width: 20px;
}

.project-heading {
    padding-left: 30px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
    margin-bottom: -20px;
}

/* ------------------------ Info Section ------------------  */

.info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* height: fit-content; */
}

.announcements-heading, .trending-heading {
    font-size: 20px;
    font-weight: 700;    
}

.announcements {
    display: grid;
    grid-template-rows: 30px 1fr
}

.announcements-card {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: #ffffff;
    border-radius: 10px;
    margin-right: 25px;
    box-shadow: 0px 3px 3px #01481f65;
    padding: 35px;
}

.announcement-block {
    height: 60px;
    /* border: 2px solid red; */
    overflow: scroll;
}

.announcement-heading {
    font-size: 13px;
}

.announcement-text {
    font-size: 10px;
}

.dividing-line {
    height: 1px;
    background-color: #000000;
}

.trending {
    display: grid;
    position: relative;
    grid-template-rows: 30px 1fr;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    margin-right: 25px;
    box-shadow: 0px 3px 3px #01481f65;
    padding: 20px;
}

.trending-heading {
    position: absolute;
    top: -30px
}

.trending-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    
}

.user-login {
    font-size: 12px;
}

.project-name {
    font-size: 14px;
    color: #6d8b84;
}

